<!DOCTYPE html>
<html>
  <head>
     <title>Foodle</title>
     <link rel="stylesheet" href="/end.css">
  </head>



   
    <body class="hero-recipe-img">
  <h1>Results for '<%=input%>'</h1>
      <div class="recipe-card">
        <section class="inner-recipe-card">
          <h1 class="recipe-name"><%=title%></h1>
          <div class="description">
    
          

            <h2>The Ingredients</h2>
            <ul class="ingredients">
              <h3><%=ingredients%></h3>
            </ul>

               <h2>Instructions</h2>
              <ul class="pesto-instructions">
                  <h3><%=instructions%></h3>
                </ul>
        </section>
      </div>
      <div class="recipe-card">
        <section class="inner-recipe-card">
          <h1 class="recipe-name"><%=title1%></h1>
          <div class="description">



            <h2>The Ingredients</h2>
            <ul class="ingredients">
              <h3><%=ingredients1%></h3>
            </ul>

               <h2>Instructions</h2>
              <ul class="pesto-instructions">
                  <h3><%=instructions1%></h3>
                </ul>
        </section>
      </div>
      <div class="recipe-card">
        <section class="inner-recipe-card">
          <h1 class="recipe-name"><%=title2%></h1>
          <div class="description">



            <h2>The Ingredients</h2>
            <ul class="ingredients">
              <h3><%=ingredients2%></h3>
            </ul>

               <h2>Instructions</h2>
              <ul class="pesto-instructions">
                  <h3><%=instructions2%></h3>
                </ul>
        </section>
      </div>
      <div class="recipe-card">
        <section class="inner-recipe-card">
          <h1 class="recipe-name"><%=title3%></h1>
          <div class="description">



            <h2>The Ingredients</h2>
            <ul class="ingredients">
              <h3><%=ingredients3%></h3>
            </ul>

               <h2>Instructions</h2>
              <ul class="pesto-instructions">
                  <h3><%=instructions3%></h3>
                </ul>
        </section>
      </div>
    </body>
  


  </body>